<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="stylesheet" href="/assets/layui/css/layui.css">
  <link rel="stylesheet" href="../assets/css/lightbox.min.css">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    <!-- 导入公共头部 -->
    {{ include "./common/header.html" }}
    <!-- 导入公共侧边栏 -->
    {{ include "./common/side.html" }}
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <a href="/addArtlist" class="layui-btn layui-bg-blue">+</a>
        <!-- 搜索 -->
        <div class="search">
          <div class="layui-form-item" style="display:flex;align-items: center;">
            <div class="layui-input-block">
              <input type="text" id="keyword" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="search"
              style="height: 100%;">搜索</button>
          </div>
        </div>
        <table class="layui-hide" id="artlist" lay-filter="searchKey"></table>
      </div>
      <!-- 搜索 -->
    </div>
  </div>
  <script src="../assets/js/lightbox.min.js "></script>
  <script>
    layui.use('table', function () {
      var table = layui.table;
      $("#search").on('click', () => {
        // 1. 获取关键字
        let keyword = $("#keyword").val()
        table.reload('artlist', {
          //设定异步数据接口的额外参数
          where: { keyword }
        });
      })

      table.render({
        elem: '#artlist'
        , url: '/artlists'
        , cols: [[
          { type: 'checkbox', fixed: 'left' }
          , { field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true }
          , { field: 'title', title: '文章标题' }
          , {
            field: 'pic', title: '封面图', templet: ({ pic }) => {
              return `<a class="example-image-link" href="/upload/${pic}" data-lightbox="example-set">
                      <img class="example-image" src="/upload/${pic}" alt=""/></a>`
            }
          }
          , {
            field: '', title: '内容', templet: (data) => {
              let myData = JSON.stringify(data)
              return `<a href="javascript:;" onclick='openPo(${myData})'>预览内容</a>`
            }
          }
          , { field: 'username', title: '发布者', sort: true }
          , { field: 'statusText', title: '状态', }
          , { field: 'add_date', title: '添加时间' }
          , { field: 'cate_name', title: '所属分类', sort: true }
          , {
            fixed: "right", width: 120, title: '操作', templet: (obj) => {
              return `
              <a class="layui-btn layui-btn-xs" lay-event="edit" class="edit">编辑</a>
              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" class="del">删除</a>
          `
            }
          }
        ]],
        page: {
          limit: 6,
          prev: '上一页',
          next: '下一页'
        }

      });

      table.on('tool(searchKey)', function (obj) {
        var data = obj.data;
        if (obj.event === 'del') {
          layer.confirm('真的删除行么', async function (index) {
            const { code, msg } = await $.post('/delArtData?id=' + data.id);
            if (code === 0) {
              obj.del();
              layer.msg(msg);
            }
            layer.close(index);
          });
        } else {
          location.href = '/editArtlist?id=' + data.id;
          return;
        }
      });



    });

    function openPo(myData) {
      let { title, content, add_date, username } = myData;
      content = `<div style="padding:15px">
        <h2>${title}</h2>
        <div>${add_date} ${username}</div>
        ${content}
      </div>`
      layer.open({
        title,
        content,
        type: 1,
        area: ['420px', '340px'], //宽高
      });
    }
  </script>
</body>

</html>