<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="stylesheet" href="/assets/layui/css/layui.css">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    <!-- 模板引擎 -->
    {{include "./common/header.html"}}
    {{include "./common/side.html"}}
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <a class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal " href="./addDate">+</a>
        <table id="demo" lay-filter="test"></table>
      </div>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      底部固定区域
    </div>
  </div>
  <script>
    //JS 
    layui.use(['table'], function () {
      var table = layui.table;
      var $ = layui.jquery;
      //执行渲染
      table.render({
        elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
        , url: '/cateData'
        , toolbar: '#cateTool'
        , cols: [[
          { field: 'cate_id', width: 80, title: '序号', sort: true }
          , { field: 'cate_name', width: 100, edit: 'text', title: '分类名称' }
          , { field: 'orderBy', width: 80, edit: 'text', title: '排序', sort: true }
          , {
            fixed: "right", width: 120, title: '操作', templet: (obj) => {
              return `
              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" class="del">删除</a>
          `
            }
          }
        ]] //设置表头
      });

      //监听单元格编辑
      table.on('edit(test)', async function (obj) {
        const { data } = obj;
        console.log(data);
        const { code, msg } = await $.post('/updCateData', data)
        if (code === 0) {
          layer.msg(msg)
        }
      });

      table.on('tool(test)', function (obj) {
        var data = obj.data;
        if (obj.event === 'del') {
          layer.confirm('真的删除行么', async function (index) {
            const { code, msg } = await $.get('/delCateData', data)
            if (code === 0) {
              obj.del();
              layer.msg(msg);
            }
            layer.close(index);
          });
        }
      });
    });
  </script>
</body>

</html>