<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>德德后台管理系统</title>
    <link rel="stylesheet" href="/assets/layui/css/layui.css">
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <!-- 模板引擎 -->
        {{include "./common/header.html"}}
        {{include "./common/side.html"}}
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div style="margin: 10px 50px;">
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-normal theme">蓝色</button>
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-warm theme">黄色</button>
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-danger theme">橙色</button>
                </div>
                <form class="layui-form" action="" id="LogoForm">
                    <div class="layui-form-item">
                        <label class="layui-form-label">LOGO:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" required lay-verify="required" placeholder="请输入LOGO"
                                autocomplete="off" class="layui-input" id="setName">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">封面图</label>
                        <div class="layui-input-inline">
                            <input type="file" name="picture" id="pic" onchange="fileChange(this,'#sysPreview')"
                                style="display:none">
                            <a class="layui-btn layui-bg-blue" href="javascript:;" id="logImg">上传图片</a>
                            <img src="" id="sysPreview" alt="" style="width:80px">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn color-btn" lay-submit lay-filter="formDemo">立即修改</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            底部固定区域
        </div>
    </div>
    <script>
        //JS 
        let logoForm = document.getElementById('LogoForm');
        layui.use('form', function () {
            var form = layui.form,
                $ = layui.jquery;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                let {val,pic} = JSON.parse(Cookies.get('logoInfo'));
                const formData = new FormData(logoForm);
                formData.set('isImg',isImg);
                formData.set('oldImg',pic);
                $.ajax({
                    type: 'post',
                    url: '/systemCations',
                    data: formData,
                    contentType: false,
                    processData: false
                }).then(res => {
                    if (res.code === 0) {
                        let { code,msg,data } = res;
                        $('#logoText').text(data.val);
                        $('#logoImg').attr('src',`upload/${data.pic}`);

                        layer.msg(res.msg, { icon: 6 });
                    } else {
                        layer.msg(res.msg, { icon: 5 });
                    }
                })
                return false;
            });
        });

        $("#logImg").on('click', () => {
            $("#pic")[0].click();
        })

        $('.theme').click(function () {
            let id = $(this).index() + 1;
            $.get(`/theme?id=${id}`).then(res => {
                let color = res[0].color;
                Cookies.remove('color');
                Cookies.set('color', color, { expires: 47 });
            });
            location.reload();
        });
    </script>
</body>

</html>