<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
  <link rel="stylesheet" href="./assets/layui/css/layui.css">
</head>


<body>
  <div class="layui-layout layui-layout-admin">
    <!-- {{include "./common/header.html" }}
    {{include "./common/side.html" }} -->
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <div id="main" ></div>
      </div>
    </div>
  </div>
  </div>

  <script src="./assets/layui/layui.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
  <script>
    function ArticleData(cates, totals) {


    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom, 'dark');
    var option;


    option = {
      title: [
        {
          text: '文章分类数据'
        }
      ],
      polar: {
        radius: [30, '80%']
      },
      angleAxis: {
        max: 4,
        startAngle: 75
      },
      radiusAxis: {
        type: 'category',
        data: cates
      },
      tooltip: {},
      series: {
        type: 'bar',
        data: totals,
        coordinateSystem: 'polar',
        label: {
          show: true,
          position: 'middle',
          formatter: '{b}: {c}'
        }
      }
    };
    option && myChart.setOption(option);
    }


    // $.get('/getCount').then(res => {
    //   console.log(res)
    //   // 组装两个一维数组
    //   let cates = [];
    //   let totals = [];
    //   res.forEach(item => {
    //     cates.push(item.cate_name)
    //     totals.push(item.total)
    //   })
      ArticleData([1,2,3], [1,2,2])
    // })


  </script>
</body>
</html>